/*body {
  color: salmon;
  background-color: black;
  font-size: 25px;
  font-family: Caveat;
}*/


* {
  font-family: 'Caveat',
}

body {
  background-color: black;
  color: salmon;
}

table {
	border: 10px solid white;
  margin: 5px;
}

td {
	padding: 10px;
	border-radius: 70%;
  border: 1px solid black;
  background: white;
}

th {
	background-color: salmon;
	color: black;
  padding: 10px;
  border-radius: 70%;
}
